<div class="card">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formControls.tema.errors && formControls.tema.touched
            }"
            formControlName="tema"
            placeholder="Insira o Tema"
          />
          <div
            class="invalid-feedback"
            *ngIf="formControls.tema.errors?.required"
          >
            Tema é obrigatório
          </div>
          <div
            class="invalid-feedback"
            *ngIf="formControls.tema.errors?.minlength"
          >
            Tema deve ter no mínimo 5 caracteres
          </div>
          <div
            class="invalid-feedback"
            *ngIf="formControls.tema.errors?.maxlength"
          >
            Tema deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="local"
            [ngClass]="{
              'is-invalid':
                formControls.local.errors && formControls.local.touched
            }"
            placeholder="Local"
          />
          <div class="invalid-feedback">Local é obrigatório</div>
        </div>
        <div class="form-group col-md-4">
          <input
            type="datetime"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formControls.dataEvento.errors &&
                formControls.dataEvento.touched
            }"
            formControlName="dataEvento"
            placeholder="Data e Hora"
          />
          <div class="invalid-feedback">Data e Hora é obrigatório</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <input
            type="number"
            class="form-control is-invalid"
            formControlName="qtdPessoas"
            [ngClass]="{
              'is-invalid':
                formControls.qtdPessoas.errors &&
                formControls.qtdPessoas.touched
            }"
            placeholder="Qtd Pessoas"
          />
          <div
            class="invalid-feedback"
            *ngIf="formControls.qtdPessoas.errors?.required"
          >
            Qtd Pessoas é obrigatório
          </div>
          <div
            class="invalid-feedback"
            *ngIf="formControls.qtdPessoas.errors?.max"
          >
            Qtd Pessoas pode ter no máximo 120000 pessoas
          </div>
        </div>
        <div class="form-group col-md-2">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formControls.telefone.errors && formControls.telefone.touched
            }"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
          />
          <div class="invalid-feedback">Telefone é obrigatório</div>
        </div>
        <div class="form-group col-md-4">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formControls.email.errors && formControls.email.touched
            }"
            formControlName="email"
            placeholder="E-mail"
          />
          <div
            class="invalid-feedback"
            *ngIf="formControls.email.errors?.required"
          >
            E-mail é obrigatório
          </div>
          <div
            class="invalid-feedback"
            *ngIf="formControls.email.errors?.email"
          >
            E-mail tem que ser um email válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formControls.imagemURL.errors && formControls.imagemURL.touched
            }"
            formControlName="imagemURL"
            placeholder="Imagem"
          />
          <div class="invalid-feedback">Imagem é obrigatório</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button class="btn btn-outline-primary">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
